@font-face {
  font-family: "Qanelas Soft";
  src: url("../public/fonts/QanelasSoft-ExtraBold.woff2") format("woff2"),
    url("../public/fonts/QanelasSoft-ExtraBold.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
