code,
pre {
    @apply text-slate-300 text-left hyphens-none text-base;
    text-shadow: 0 1px rgba(0, 0, 0, 0.3);
    font-family: Inconsolata, Monaco, Consolas, "Courier New", Courier, monospace;
    direction: ltr;
    word-spacing: normal;
    tab-size: 4;
}

pre {
    @apply overflow-auto mx-0 my-4 p-5 rounded whitespace-pre break-normal leading-normal;
}

:not(pre) > code,
pre {
    @apply bg-slate-800;
}

/* Inline code */
:not(pre) > code {
    @apply px-2 rounded break-words;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
    @apply text-slate-400;
}

.token.punctuation {
    @apply text-slate-300;
}

.namespace {
    @apply opacity-70;
}

.token.property,
.token.keyword,
.token.tag {
    @apply text-cyan-400;
}

.token.class-name {
    @apply underline;
    @apply text-yellow-100;
}

.token.boolean,
.token.constant {
    @apply text-teal-400;
}

.token.symbol,
.token.deleted {
    @apply text-red-500;
}

.token.number {
    @apply text-fuchsia-500;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
    @apply text-lime-400;
}

.token.variable {
    @apply text-violet-200;
}

.token.operator {
    @apply text-slate-100;
}

.token.entity {
    @apply cursor-help;
    @apply text-yellow-100;
}

.token.url {
    @apply text-blue-300;
}

.language-css .token.string,
.style .token.string {
    @apply text-green-500;
}

.token.atrule,
.token.attr-value {
    @apply text-amber-100;
}

.token.function {
    @apply text-orange-200;
}

.token.regex {
    @apply text-amber-300;
}

.token.important {
    @apply text-orange-400;
}

.token.important,
.token.bold {
    @apply font-[bold];
}

.token.italic {
    font-style: italic;
}

pre {
    @apply overflow-x-auto;
}

.code-highlight {
    @apply float-left min-w-full;
}

.code-line {
    @apply block -mx-4 px-4 border-l-4 border-l-[rgba(0,0,0,0)] border-solid;
}

.code-line.inserted {
    @apply bg-green-100;
}

.code-line.deleted {
    @apply bg-red-100;
}

.highlight-line {
    @apply -mx-4;
    @apply bg-slate-400;
    @apply border-l-4 border-blue-500;
}

.line-number::before {
    @apply inline-block w-4 text-right content-[attr(line)] -ml-2 mr-4;
    @apply text-slate-400;
}
